/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

$base-font-size: rem(16px);

/* COLORS */
$font_color: #4c4c4c;
$orange: #e47d31;
$border-grey: #ebebeb;
$light-grey: #d8d8d8;
$semilight-grey: #BDBDBD;
$form-input-color: #979797;
$page-background: #f2f2f2;
$red: #ba0000;

body {
  background-color: $page-background;
}

.main-content {
  min-height: calc(100vh - 180px)
}

.center-content {
  max-width: 1172px;
  float: none;
  margin: auto;
}

.base-button {
  width: 200px;
  height: 39px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  background-color: $orange;
  text-transform: uppercase;
  cursor: pointer;
}

.base-two-buttons {
  background: $semilight-grey;
  height: 33px;
  width: 123px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    border-right: 1px solid #fff;
  }
  &:last-child {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
  }
}

.btn {
    background-color: $orange;
    height: 56px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button.blank {
  border: none;
  background: none;
  color: $red;
}

button {
  cursor: pointer;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  display: block;
  float: none;
  margin: 50px auto;
}