footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    background: #fff;
    
    .primary-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border-grey;
        padding-left: 30px;
        padding-right: 30px;
        ul {
            display: flex;

        }
        .left-ul-footer {
            li {
                padding-right: 76px;
            }
        }
        .right-ul-footer {
            padding-top: 8px;
            padding-bottom: 8px;
            li {
                padding-left: 23px;
            }
        }
    }
    .secondary-footer {
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
}