.restaurant-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.restaurant-overview-item {
    background-color: #fff;
    border: 1px solid $border-grey;
    border-top: 8px solid $orange;
    margin-bottom: 30px;
}

.restaurant-item-header {
    padding: 15px;

    .rating-wrapper {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: space-between;
    }
}

.restaurant-overview-image{
    background-size: cover;

    &:before{
    content: '';
    width: 100%;
    padding-top: 100%;
    display: block;
    }
}